/* Reset styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Shared styles for your components */
#yourcomponent, #yourcomponent1 {
  width: 30%;
  margin-left: 30%;
}

.input {
  width: 100%;
}

.input-p {
  color: rgb(15, 14, 15);
  align-items: center;
  justify-content: center;
  margin-left: 35%;
  padding-top: 2%;
  margin-bottom: 5%;
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.input-p:before,
.input-p:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.input-p:before {
  color: #4CAF50; /* Adjust the color code as needed */
  transform: translate(-5px, 5px);
}

.input-p:after {
  color: #FFC107; /* Adjust the color code as needed */
  transform: translate(5px, -5px);
}

.input-group-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-group-text p.bold-and-blink {
  font-weight: 1000;
  font-size: 1.5em;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  color: #e6e3e3 !important; /* Adjust the color code as needed */
}

.input-group-text p.bold-and-blink:before,
.input-group-text p.bold-and-blink:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.input-group-text p.bold-and-blink:before {
  color: #4CAF50; /* Adjust the color code as needed */
  transform: translate(-5px, 5px);
}

.input-group-text p.bold-and-blink:after {
  color: #FFC107; /* Adjust the color code as needed */
  transform: translate(5px, -5px);
}

/* Media queries for responsive design */

/* Small screens (phones) */
@media (max-width: 576px) {
  #yourcomponent, #yourcomponent1 {
    width: 80%;
    margin-left: 10%;
  }

  .input-p {
    margin-left: 10%;
  }
}

/* Medium screens (tablets) */
@media (min-width: 577px) and (max-width: 768px) {
  #yourcomponent, #yourcomponent1 {
    width: 60%;
    margin-left: 20%;
  }

  .input-p {
    margin-left: 15%;
  }
}

/* Large screens (desktops) */
@media (min-width: 769px) {
  #yourcomponent, #yourcomponent1 {
    width: 50%;
    margin-left: 25%;
  }

  .input-p {
    margin-left: 20%;
  }
}
